.menu {
    margin: 0 auto;
    margin-top: 0.78vw;
    width: 81.25vw;
    height: 3.125vw;
    border-radius: 0.26vw;
    background-color: #ffffff;
    &__items{
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 100%;
        list-style-type: none;
        margin-bottom: 0;
        padding-left: 0;
    }
    &__link {
        color: $text-color;
        font-size: 0.78125vw;
        font-weight: 300;
        letter-spacing: 0.0390625vw;
        &:hover {
            color: $text-color;
            font-weight: 700;
        }
    }
    &__shadow {
        margin: 0 auto;
        height: 0.42vw;
        width: 79.32vw;
        border-radius: 0.26vw;
        background-color: rgba($color: #ffffff, $alpha: .5);
    }
}